@model int

<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index", "Cart")">
        Giỏ hàng <span id="cart-count" class="badge bg-danger rounded-pill">(@Model)</span>
    </a>
</li>